@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --color-sidebar-bg: #F3F2F3;
  --color-sidebar-active: #e7e4e7;
}

[data-theme="dark"] {
  --color-sidebar-bg: var(--color-base-200);
  --color-sidebar-active: var(--color-base-300);
}

html,
body {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}